<div>
    <label
    for="email"
    class="flex items-center gap-2 border-zinc-300 border-2 text-sm rounded-sm w-full p-4 shadow-xs text-zinc-700 focus-within:ring-2 focus-within:ring-zinc-500"
    >
    <fa-icon [icon]="icon" class="text-zinc-400"></fa-icon>
    <input
        [type]="tipe"
        id="email"
        class="w-full outline-none placeholder:text-sm placeholder:text-zinc-400"
        [placeholder]="placeholder"
        [title]="title"
        [aria-label]="ariaLabel"
        required
    />
    </label>
</div>
