<div class="fixed inset-0 bg-black/40 z-40" *ngIf="menuAberto" (click)="fechar()">
    <aside class="fixed p-4 top-0 left-0 w-2/3 h-full bg-zinc-100 shadow-lg z-50 transition-transform duration-300 flex flex-col gap-4 justify-between"
    (click)="$event.stopPropagation()"
      [ngClass]="{ 
        'translate-x-0': menuAberto, 
        '-translate-x-full': !menuAberto }"
     
    >
        <div class="flex flex-col gap-4">
            <span class="flex items-center justify-between">
                <h2 class="text-2xl font-bold text-heading">Menu</h2>
                <button aria-label="close-menu" type-button (click)="fechar()">
                    <fa-icon [icon]="faXmark" class="text-2xl text-heading "></fa-icon>
                </button>
            </span>
            <div class="w-full h-0.5 bg-zinc-300">
            </div>

            <div class="flex flex-col gap-2">
                <h3 class="text-lg font-semibold text-heading">Objetivos</h3>
            </div>

        </div>
        <div class="flex flex-col gap-4">
            <div class="w-full h-0.5 bg-zinc-300">
            </div>
            <span class="flex items-center justify-between gap-2">
                <p class="text-lg font-semibold text-heading">Configurações</p>
                <fa-icon [icon]="faGear" class="text-xl text-heading"></fa-icon>
            </span>
        </div>
    </aside>

</div>