<div class="fixed inset-0 bg-black/40 z-40" *ngIf="criarObjetivoModal">
  <ion-header>
            <ion-toolbar>
                <span class="w-full gap-8 flex justify-between">
                    <ion-buttons slot="start">
                        <ion-button (click)="fecharModal()">Cancelar</ion-button>
                    </ion-buttons>
                    <ion-title class="text-2xl font-semibold tracking-wide">Criar Objetivo</ion-title>
                    <ion-buttons slot="end">
                        <ion-button type="submit" (click)="addTarefa()" [strong]="true">Criar</ion-button>
                    </ion-buttons>
                </span>
            </ion-toolbar>
        </ion-header>
    <div class="bg-zinc-100 min-h-full p-4" (click)="$event.stopPropagation()">
      <form
        [formGroup]="formulario"
        class="mx-auto flex flex-col justify-center gap-4 w-full"
      >
        <div class="flex flex-col gap-8 w-full p-4">
          <app-input-component
            type="text"
            label="Titulo"
            placeholder="item ou objetivo"
            formControlName="tarefaTitle"
          >
          </app-input-component>

          <app-input-component
            type="date"
            label="Data de criação"
            placeholder="selecione a data"
            formControlName="dataCriation"
          >
          </app-input-component>

          <app-input-component
            type="text"
            label="Descrição"
            placeholder="descreva o que você deseja fazer ou ter..."
            formControlName="tarefaDescription"
          >
          </app-input-component>

          <div>
            <div class="flex w-full gap-4 items-center">
              <span class="shrink-0 text-lg font-medium tracking-wide">Tipos de objetivos</span>
              <span class="h-0.5 w-full bg-zinc-400 block"></span>
            </div>
            <div class="flex flex-wrap gap-4 mt-4">
              <button
                *ngFor="let type of types"
                type="button"
                [ngClass]="{
                  'bg-zinc-400 text-zinc-900 ring-2 ring-zinc-600': tipoSelecionado === type.name,
                  'bg-zinc-200 text-zinc-700': tipoSelecionado !== type.name
                }"
                class="p-2 rounded-lg transition-all duration-200"
                (click)="tipoObjetivoSelecionado(type.name)"
                [attr.aria-pressed]="tipoSelecionado === type.name"
              >
                <fa-icon [icon]="typesIcons[type.name]"></fa-icon>
                <span class="ml-2">{{ type.name }}</span>
              </button>
            </div>
          </div>

        </div>

      </form>
    </div>
</div>
