ion-app {
  background: #f5f5f5;
}

/* ion-header {
  padding-top: var(--ion-safe-area-top, 0px);
}

ion-content {
  --padding-top: var(--ion-safe-area-top, 0px);
}

ion-toolbar {
  padding-top: var(--ion-safe-area-top, 0px);
} */


