.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer e Edge antigo */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Edge, Safari */
}
