<div class="h-screen flex flex-col overflow-hidden">
  <ion-header>
    <ion-toolbar>
      <span class="flex items-center">
        <button aria-label="open-menu" type-button (click)="toggleMenu()">
          <fa-icon [icon]="faBars" class="text-3xl text-heading px-4"></fa-icon>
        </button>
        <ion-title class="text-2xl font-semibold  tracking-wide">SkyTrack</ion-title>
      </span>
    </ion-toolbar>
  </ion-header>

  <app-menu-lateral
    (fecharMenu)="menuAberto = false"
    [menuAberto]="menuAberto"
    (tipoObjetivoSelecionado)="abrirTipo($event)"
  >
  </app-menu-lateral>

  <app-criar-objetivo
  (fecharModalObjetivo)="criarObjetivoModal = false"
  [criarObjetivoModal]="criarObjetivoModal"
  >
  </app-criar-objetivo>

  <ion-content [fullscreen]="true" class="ion-padding overflow-y-auto flex-1">

    <div class="p-4 min-h-full bg-zinc-100 flex flex-col gap-4">
      <div class="flex flex-col gap-2 w-full mb-4">
        <h2 class="text-lg font-semibold text-heading">Seus objetivos. Seu progresso.</h2>
        <p class="tracking-wide text-base font-light text-zinc-600">
          Tenha seus objetivos do Hypixel SkyBlock organizados em um só lugar. <br>
          Crie tarefas, acompanhe seu progresso e mantenha uma visão clara do que ainda falta para alcançar seus objetivos.</p>
      </div>

      <router-outlet></router-outlet>

      <div
        class="mx-auto pb-4 flex flex-col justify-center mb-4 gap-4 w-full max-w-3xl"
      >
        <div class="flex w-full gap-4 items-center">
          <span class="shrink-0 text-lg font-medium tracking-wide">Ultimas tarefas</span>
          <span class="h-0.5 w-full bg-zinc-400 block"></span>
        </div>
        <!-- <span class="w-full h-px bg-zinc-400"> </span> -->

        <ol class="w-full flex flex-col gap-4" *ngIf="tarefas$ | async as tarefas;">
          <li *ngFor="let tarefa of (tarefas$ | async)?.slice(0,10); let i = index" class="flex flex-col">
            <div
              class="flex justify-between items-center bg-zinc-300 p-4 rounded-md shadow-md"
              [ngClass]="{ 'rounded-b-none': tarefaAbertaId === tarefa.id }"
            >
              <h2 class="text-2xl font-bold text-heading tracking-wide">
                {{ tarefa.title }}
              </h2>
              <div class="flex gap-4 items-center">
                <h3 class="text-lg font-semibold text-heading text-end">
                  {{ tarefa.dataCriation }}
                </h3>
                <fa-icon
                  *ngIf="tarefaAbertaId !== tarefa.id"
                  class="w-8 h-8 flex justify-center items-center border-2 hover:border-zinc-600 hover:bg-zinc-500 transition-all duration-300 border-zinc-500 bg-zinc-400 rounded-sm shadow-sm"
                  (click)="verTarefa(tarefa)"
                  [icon]="faEye"
                >
                </fa-icon>
                <fa-icon
                  *ngIf="tarefaAbertaId === tarefa.id"
                  class="w-8 h-8 flex justify-center items-center border-2 hover:border-zinc-600 hover:bg-zinc-500 transition-all duration-300 border-zinc-500 bg-zinc-400 rounded-sm shadow-sm"
                  (click)="verTarefa(tarefa)"
                  [icon]="faEyeSlash"
                >
                </fa-icon>
              </div>
            </div>
            <div
              *ngIf="tarefaAbertaId === tarefa.id"
              class="text-lg font-normal border-2 border-zinc-300 flex flex-col gap-8 rounded-b-md p-4 shadow-md"
            >
              <p class="flex flex-col">
                <span class="font-light text-sm">Descrição:</span>
                <span class="font-normal text-base pl-2">
                  {{ tarefa.description }}
                </span>
              </p>
              <div class="flex gap-4 justify-end mr-2">
                <button
                  (click)="excluirObjetivo(tarefa.id)"
                  type="button"
                  class="bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded-md transition-colors duration-300"
                >
                  excluir
                </button>
                <button
                  type="button"
                  class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md transition-colors duration-300"
                >
                  editar
                </button>
                <button
                  type="button"
                  class="bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded-md transition-colors duration-300"
                >
                  concluir
                </button>
              </div>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </ion-content>
  <ion-footer class="py-3 fixed bottom-0">
    <ion-toolbar>
      <div class="flex justify-around items-center w-full fixed bottom-0">
        <button aria-label="open-modal" type="button" (click)="toggleModal()"
          class="bg-zinc-500 active:bg-zinc-600 text-white font-semibold flex justify-center items-center h-14 w-14 rounded-full  transition-all duration-300"
        >
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>
      </div>
    </ion-toolbar>
  </ion-footer>
</div>
